.container-cd {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .box {
    width: 250px;
    background-color: grey;
    padding-top: 1.6%;
    margin-top: 5%;

    .box-image {
      height: 200px;
      width: 200px;
      margin: auto;
      margin-top: 5%;

      img {
        height: 100%;
      }
    }

    .box-text {
      text-align: center;
      margin-top: 15%;
      line-height: 30px;
      height: 80px;
      margin-bottom: 10%;
    }
  }
}
