body {
  background-color: darkgrey;
}

.container-cd {
  width: 85%;
  margin: auto;
  padding-top: 5%;
  background-color: violet;

  .box {
    width: 250px;
    background-color: lightblue;
    padding-top: 1.6%;

    .box-image {
      background-color: lime;
      height: 200px;
      width: 200px;
      margin: auto;
      margin-top: 5%;

      img {
        height: 100%;
      }
    }

    .box-text {
      background-color: yellow;
      text-align: center;
      margin-top: 15%;
      line-height: 30px;
      height: 80px;
    }
  }
}
